*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --secondary-base: #ff7f00;
}



body {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

li {
    padding: 0;
    list-style-type: none;
}

.btn{
    cursor: pointer;
}

a.btn {
    padding: .3em;
    text-decoration: none;
    color: white;
}

.editor-container .btn{
background-color: var(--secondary-base);
border-radius: 6px;
padding: 0.5em;
}

.main-header {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-base);
    color: white;
}

.main-header .logo {
    font-size: 1.2em;
    margin: 25px;
    
}

.main-nav {
    display: flex;
    align-items: center;
    margin: 25px;
}

.gallery-container{
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 1em;
    padding: 1em;
}

.gallery-img {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    
    
}
.gallery-img:hover {
    border-color: #000;
}

.editor-container{
display: grid;
grid-template-columns: 1fr 1fr;
place-items: center;

margin-block-start: 2em; ;
}


.hidden {
    display: none;
}