*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --secondary-base: #ff7f00;
    --primary1: #f4f4f4;
    --primary-1: #e9e9e9;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--primary1);
}

img {
    display: block;
    width: 100%;
}

li {
    padding: 0;
    list-style-type: none;
}
button {
    cursor: pointer;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    pad: 1em 2em;
    background-color: var(--secondary-base);
    color: white;
    ;
}

.main-header .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-inline-start: 25px;
}

.nav-bar-container {
    display: flex;
}

.main-nav {
    display: flex;
    gap: 1em;
}

.editor-page {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.meme-canvas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.editor-controls {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: var(--primary-1);
    border-radius: 8px;
    margin-inline-start: 2em;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.controls .meme-text-input {
    padding: .5em;
    border: 1px solid #ccc;
}

.controls select{
    border: none;
    border-radius: 8px;

    padding: 1em;
    font-size: 1em;
    text-transform: lowercase;
}



.button-group {
    display: flex;
    gap: .5em;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--secondary-base);

    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    
}

.btn.icon {
    height: 65px;
    width: 65px;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: white;
    position: relative;
}



.btn.icon input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
    padding: 1em;
}

.gallery-img {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.gallery-img:hover {
    border-color: #000;
}

.main-footer {
    text-align: center;
    padding: 1em;
    background-color: var(--secondary-base);
    color: #fff;
  }

  
.filter-section{
display: flex;
justify-content: space-between;
padding: 1em;
}

.key-words-container{
    margin-inline-end: 1em;
}

.key-words-container button {
    font-family: Arial, sans-serif;
    border: none;
    color: black;

}

.hidden {
    display: none;
}

@media (width < 740px ) {
    .editor-page {
        flex-direction: column;
    }
}