*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--primary1);
}

img {
    display: block;
    width: 100%;
}

li {
    padding: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--secondary-base);

    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

}

.btn:hover{
    background-color:  #ff8000b5;
}