.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
    padding: 1em;
}

.gallery-img {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.gallery-img:hover {
    border-color: #000;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #fff;
}

.search-meme {
    border: none;
    border-block-end: #000 1px solid;
    width: 24ch;
    
}

.search-meme:focus{
outline: transparent;
}

.key-words-container {
    margin-inline-end: 1em;
}

.key-words-container button {
    font-family: Arial, sans-serif;
    border: none;
    background-color: transparent;
    color: black;

}