.main-footer {
    flex-grow:  1;
    text-align: center;
    padding: 1em;
    background-color: var(--secondary-base);
    color: #fff;
}

.main-footer .logo{
    font-size: 1.5em;
    font-weight: bold;
}